.Auth{
   
}
.tit{
    font-weight: 600;
    font-size: 20px;
}
.submit-gogl,.submit-local{
    margin:10px 10px;
    
    
}
.submit-gogl:hover,.submit-local:hover{
  background-color: #000;
  border: #000;
  transform: scale(1.05);
  color:#fff;
}